global
  daemon
  maxconn 256

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend mongo_frontend
  bind *:27017
  mode tcp
  option tcplog
  default_backend mongo_backend

backend mongo_backend
  mode tcp
  balance roundrobin
  server mongo1 mongo1:27017 check
  server mongo2 mongo2:27017 check
  server mongo3 mongo3:27017 check