/* Recommended */
@font-face {
  font-family: ng;
  src: url("../src/Assets/fonts/NanumGothic.eot"),
    url("../src/Assets/fonts/NanumGothic.woff") format("woff");
}
body {
  font-family: 나눔고딕, Nanum Gothic, ng;
}
/*
@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 100;
  src: url("styles/fonts/NotoSansKR-Light.woff2") format("woff2"),
    url("styles/fonts/NotoSansKR-Light.woff") format("woff"),
    url("styles/fonts/NotoSansKR-Light.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: normal;
  src: url("Assets/styles/fonts/NanumBarunGothic");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 500;
  src: url("Assets/styles/fonts/NanumBarunGothic");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: bold;
  src: url("Assets/styles/fonts/NanumBarunGothicBold");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: lighter;
  src: url("Assets/styles/fonts/NanumBarunGothicLight");
}
*/
